<!DOCTYPE html>
<html ng-app="sidneyspe">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Sidney Pimentel</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap330.min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/bootflat.min.css" />
<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="assets/css/icon.css" />

<link rel="stylesheet" type="text/css" href="assets/css/site.css" />

<script src="assets/js/libs/jquery-3.1.1.min.js"></script>
<script src="assets/js/libs/bootstrap320.min.js"></script>
<script src="assets/js/libs/angular.min.js"></script>
<script src="assets/js/controller/sidneyspe.controller.js"></script>


<body>

  <div class="container" ng-controller="SidneyspeController as vm" ng-cloak style="padding: 2%;">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 col-xs-6">
          <h2>
            {{vm.info.name}}
          </h2>
          <h5>{{vm.info.title}}</h5>
          <div class="btn-group">
            <a href="{{vm.facebook.url}}" target="_blank" class="btn btn-default"><i class="fa fa-{{vm.facebook.name}}"></i></a>
            <a href="{{vm.linkedin.url}}" target="_blank" class="btn btn-default"><i class="fa fa-{{vm.linkedin.name}}"></i></a>
            <a href="{{vm.github.url}}" target="_blank" class="btn btn-default"><i class="fa fa-{{vm.github.name}}"></i></a>
            <a href="{{vm.mail.url}}" target="_blank" class="btn btn-default"><i class="fa fa-{{vm.mail.name}}"></i></a>
          </div>

        </div>
        <div class="col-md-6 col-xs-6">
          <img src="{{vm.info.image}}" class="img-rounded" alt="sidney" width="200" height="200">
          <div class="btn-group">
            <a href="#" class="btn btn-default" disabled> Curriculum Vitae</a>
            <a href="{{cv.url}}" class="btn btn-default" ng-repeat="cv in vm.cv"> <i class="{{cv.icon}}"></i>  </a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <h5>EDUCATION</h5>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-6">

        <!-- <i class="huge university icon"></i> -->
      </div>
      <div class="col-md-6 col-xs-6">

        <h5>
          Bachelor of Computer Science
      </h5>
        <h6>Universidade Estadual da Paraíba, Paraíba, Brazil (2016)</h6>
      </div>
    </div>
    <div class="row">
      <h5>ABOUT ME</h5>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-6">

        <!-- <i class="huge user icon"></i> -->
      </div>
      <div class="col-md-6 col-xs-6">

        <h5>
          <h6> Excellent brainstorming abilities, strong analytical skills, focused in user experience; </h6>
          <h6> Enthusiastic for usability of systems, human factors, agile methodology; </h6>
          <h6> Good communication and commitment to the team.</h6>
      </h5>
      </div>
    </div>

    <div class="row">
      <h5>EXPERIENCE</h5>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <!-- <i class="huge cubes icon"></i> -->
      </div>
      <div class="col-md-6 col-xs-6">
        <div class="row" ng-repeat="experience in vm.experiences">
          <h5>{{experience.title}}</h5>
          <h6>{{experience.description}}</h6>
        </div>
      </div>
    </div>
    <div class="row">
      <h5>TECHNICAL SKILLS</h5>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <!-- <i class="huge tags icon"></i> -->
      </div>
      <div class="col-md-6 col-xs-6">
        <div class="row">
          <div class="input-group">
            <span class="input-group-addon"> Search </span>
            <input type="text" class="form-control" placeholder="search by tag" ng-model="vm.search">
          </div>
          <br>
          <table class="table table-striped">
            <tr>
              <th>Tag</th>
            </tr>
            <tr ng-repeat="label in vm.labels | filter:vm.search">
              <td>
                <span class="label label-info"> {{label}}  </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
  </script>



</body>

</html>
