<html ng-app="sidneyspe">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sidney Pimentel</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/freelancer.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">

<link rel="stylesheet" type="text/css" href="css/style.css">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<script src="lib/angular.js"></script>
<script src="lib/jquery-2.2.4.min.js"></script>
<script src="lib/bootstrap.js"></script>
<script src="lib/angular-timer-all.min.js"></script>
<script src="lib/angular-timer-bower.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
<script>
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
		angular.module("sidneyspe", ['timer']);
		angular.module("sidneyspe").controller("sidneyspeController", function ($scope, $http) {
			$scope.titulo = "Sidney Pimentel";
			$scope.avatar = "img/perfil.png";

			$scope.linguagens =[
				{nome: "C/C++", nivel: 3},
				{nome: "C#", nivel: 3},
				{nome: "JavaEE", nivel: 3}
			];

			$scope.bancoDeDados =[
				{nome: "MySQL", nivel: 2},
				{nome: "SQLite", nivel: 3},
				{nome: "LightBase", nivel: 3}
			];

			$scope.outros =[
				{nome: "Java Server Pages (JSP)", nivel: 2},
				{nome: "Java Server Faces (JSF)", nivel: 3},
				{nome: "ASP NET MVC4", nivel: 3},
				{nome: "Android SDK", nivel: 3},
				{nome: "JavaFX", nivel: 3},
				{nome: "Hibernate", nivel: 3},
				{nome: "Entity Framework", nivel: 3},
				{nome: "HTML5", nivel: 3},
				{nome: "CSS3", nivel: 3},
				{nome: "JavaScript", nivel: 3},
				{nome: "AngularJS", nivel: 3},
				{nome: "Maven", nivel: 3},
				{nome: "SpringMVC", nivel: 3}
				
			];

			$scope.frameworks =[
				{nome: "Bootstrap", nivel: 3},
				{nome: "Bootflat", nivel: 3},
				{nome: "Materialize", nivel: 3},
				{nome: "Material Design Lite", nivel: 3}
			];

			$scope.getNumber = function(num) { 
				return new Array(num);   
			}

		});
	</script>
</head>
<body class="" ng-controller="sidneyspeController">

	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header page-scroll">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand texto-negrito" href="#">Sidney Pimentel</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	     <ul class="nav navbar-nav navbar-right">
	        <li><a href="#sobre">Sobre</a></li>
	        <li><a href="#skills">Skills</a></li>
	        <li><a href="#">Portifólio</a></li>
	        <li><a href="#">Contato</a></li>       
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container" id="sobre" style="padding-top: 70px;">
		<div class="row">
			<div class="col-md-2 col-xs-6">
				<img src="{{avatar}}" class="imagem-avatar image-responsive">
			</div>
			<div class="col-md-10 col-xs-4">
				<h1 class="texto-negrito">Sidney Pimentel</h1>
				<h4 class="texto-light">Desenvolvedor</h4>				
			</div>				
		</div>
		<div class="row texto-centralizado">
			<a href="https://twitter.com/sidneyspe" target="_blank" class="btn btn-outline fa fa-twitter fa-2x cor-branco"></a>
			<a href="https://www.facebook.com/profile.php?id=100009159047448" target="_blank" class="btn btn-outline fa fa-facebook fa-2x cor-branco"></a>
			<a href="https://github.com/sidneyspe" target="_blank" class="btn btn-outline fa fa-github fa-2x cor-branco"></a>
			<a href="https://br.linkedin.com/in/sidney-pimentel-4ab52a82" target="_blank" class="btn btn-outline fa fa-linkedin fa-2x cor-branco"></a>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<h3 class="texto-negrito cor-azul">
					<i class="fa fa-university" aria-hidden="true"></i> 
					FORMAÇÃO
				</h3>
				<h4 class="texto-negrito"> Bacharel em Computação</h4>
				<h5 class="texto-light"> Universidade Estadual da Paraíba - UEPB. 2016</h5>
			</div>
		
			<div class="col-md-12">
				<h3 class="texto-negrito cor-azul">
					<i class="fa fa-terminal" aria-hidden="true"></i> 
						EXPERIÊNCIA
				</h3>
				<ul>
					<li>
						<h4 class="texto-negrito"> Desenvolvedor C/C++ </h4>
						<h5 class="texto-light"> Desenvolvimento de ferramenta utilizando C/C++, OpenCV, SVM</h5>
						<h5 class="texto-light"> NUTES - 2012</h5>

					</li>
					<li>
						<h4 class="texto-negrito"> Avaliação Heurística </h4>
						<h5 class="texto-light"> Avaliação de heurísticas de softwares/hardwares focados em saúde realizada no Núcleo de Tecnologias Estratégicas em Saúde (NUTES)</h5>
						<h5 class="texto-light"> NUTES - 2013</h5>
					</li>
					<li>
						<h4 class="texto-negrito"> Desenvolvedor Web Full-Stack </h4>
						<h5 class="texto-light"> Desenvolvimento web utilizando C#, WebApplication, MVC4, LightBase, HTML5, CSS3, JavaScript</h5>
						<h5 class="texto-light"> Light Infocon - 2015</h5>
					</li>
					<li>
						<h4 class="texto-negrito"> Fatores Humanos </h4>
						<h5 class="texto-light"> Avaliação Heurística, Shadowing, Teste de Usabilidade em dispositivo médico </h5>
						<h5 class="texto-light"> NUTES - 2015</h5>
					</li>
				</ul>
			</div>	
		</div>
		<hr>
	
		<div class="row" id="skills">
			<div class="col-md-12">
				<h3 class="texto-negrito cor-azul">
					<i class="fa fa-star" aria-hidden="true"></i> 
						SKILLS
				</h3>
			</div>
			<div class="col-md-3   ">
				<div class="panel panel-info texto-light">
				  <div class="panel-heading texto-negrito">Linguagens</div>
				  <div class="panel-body">
				  		<div class="row animated-if" ng-repeat="linguagem in linguagens">
					   		<div class="container">
								<h5> {{linguagem.nome}}</h5>
							</div>									
						</div>
				  	</div>
				</div>
			</div>
			<div class="col-md-3   ">
				<div class="panel panel-info texto-light">
					<div class="panel-heading texto-negrito">Banco de Dados</div>
					  <div class="panel-body">
					  		<div class="row animated-if" ng-repeat="banco in bancoDeDados">
						   		<div class="container">
									<h5> {{banco.nome}}</h5>
								</div>									
							</div>
					  </div>
				</div>
			</div>
			
			<div class="col-md-3   ">
				<div class="panel panel-info texto-light">
					<div class="panel-heading texto-negrito">Frameworks Web</div>
					  <div class="panel-body">
					  		<div class="row animated-if" ng-repeat="framework in frameworks">
						   		<div class="container">
									<h5> {{framework.nome}}</h5>
								</div>
						</div>
				  	</div>
				</div>
			</div>

			<div class="col-md-3   ">
				<div class="panel panel-info texto-light">
					<div class="panel-heading texto-negrito">Outros</div>
					  <div class="panel-body">
					  		<div class="row animated-if" ng-repeat="outro in outros">
						   		<div class="container">
									<h5> {{outro.nome}}</h5>
								</div>
						</div>
				  	</div>
				</div>
			</div>
		</div>	
		</div>		
		
		<div class="scroll-top page-scroll visible-xs visble-sm">
	        <a class="btn btn-primary" href="#sobre">
	            <i class="fa fa-chevron-up"></i>
	        </a>
	    </div>

	<script src="lib/classie.js"></script>
	<script src="lib/cbpAnimatedHeader.js"></script>

</body>
</html>